.formDiv{
    max-width: 450px;
    height: 350px;
    margin-left: 25px;
    margin-top: 25px;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}
form{
    margin-top: 10px;
    margin-left: 10px;
    width: 250px;
    height: 1000px;
    
}

label{
    padding: 0;
    margin: 0;
    
}

input{
    width: 400px;
    height: 35px;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #d7d2d6;
    border-radius: 5px;

}

.btn{
    margin-top: 10px;
    width: 50%;
    padding: 7px;
}

.btn:hover{
    cursor: pointer;
}

#output{
    font-size: 20px;
    color: #3f373d;
    margin-top: 10px;
    margin-left: 25px;
    padding: 15px;
    border-radius: 10px;
    background: #8db1ed;
    width: fit-content;

}

h1{
    margin: 20px 25px;
    font-size: 32px;
    font-weight: 700;
}

#outputH1{
    color: rgb(24, 24, 31); 
    font-weight: bold;
    margin: 10px 80px;

}

#clock{
    background-color: black;
    position: fixed;
    right: 4px;
    bottom: 6px;
    width: 180px;
    height: 70px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    opacity: 0.6;
    border-radius: 10px;
    padding: 4px 0 4px 8px;
    z-index: 1;
}

#catBox{
    position: relative;
    display: inline-block;
    margin: 50px 0 0 500px;
    cursor: pointer;
    
}

#catPic{
    width: 300px;
    border-radius: 5px;
    transition: all 0.3s;
    margin: 0 auto;
}


#pictureText{
    position: absolute;
    top: 31%;
    left: 29%;
    transform: rotate(-30deg);
    color: rgba(255, 255, 255, 0.799);
    font-size: 50px;
    opacity: 0;
    transition: opacity 0.5s;
    text-shadow: 0 2px 5px black;
}


#smallButton{
    position: absolute;
    top: 255px;
    left: 415px;
    font-size: 55px;
    opacity: 0;
    transition: opacity 0.5s;
    cursor: pointer;
}
